<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--
		1.type表示该用什么对应的类型去解析这个Section。
		2.Microsoft.Practices.Unity.Configuration.UnityConfigurationSection表示类的路径：命名空间+类型
		3.Unity.Configuration表示这个类所在的程序集dll的名称
		-->
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
	</configSections>
	<unity>
		<!--可以加多个-->
		<containers>
			<container name="WebApiContainer">
				<!--可以加多个:命名空间,dll名称-->
				<register type="Interface.IUserService, Interface" mapTo="Service.UserService, Service"/>
			</container>
		</containers>
	</unity>
</configuration>